<div class="b_a_l_container">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="./index.html"><span class="glyphicon glyphicon-home"></span> 首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./articles.html"><span class="glyphicon glyphicon-list"></span> 文章列表</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</div>