<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>关于</title>
    {% include 'public_style.html' %}
    <style>
        h3 {
            font-weight: 900;
        }

        .b_header-img {
            width: 76px;
            height: 76px;
        }

        .b_a_l_panel {
            /* blog article list panel */
            margin-bottom: 30px;
            border: none;
        }
    </style>
</head>
<body>
{% include "./nav.html" %}
<div class="container b_main">
    <div class="row">
        <div class="col-12">
            {{ about|safe }}
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>